# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Env
.env

# Serverless directories
.serverless

boto3-1.11.0.dist-info
botocore
botocore-1.14.0.dist-info
dateutil
docutils
docutils-0.15.2.dist-info
jmespath